
body{
  padding: 0;
  margin: 0;
  background-image: url('images/bats.gif');
  background-repeat: repeat;
  font-family: Arial, sans-serif;
}

#main-content{
  width: 850px;
  margin-left: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 15px rgba(0,0,0,1);
  border: 2px solid black;
}

/* header, footer common background  */
header{
  background: linear-gradient(45deg, #fff, #ff8c00, #000);
  
  
}
/* Header-Content */
header h1{
  color: #000;
  margin: 0;
}

.header-subContent{
  display: flex;
  align-items: center;
  padding: 10px;
  height: 70px;
}

.header-subContent img{
  width: 70px;
  height: auto;
  margin-right: 12px;
}

.header-subContent h1{
  margin-top: 10px;
}

.header-navbar{
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.header-navbar a{
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.header-navbar a.active {
  color: #ff8c00;
}

.header-navbar a:hover{
  background-color: #555;
  color: white;
}
/* Dropdown list */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown list hidden by default */
.dropdown-list{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.4);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.25s ease, transform 0.25 ease,visibility 0s liner 0s;
  z-index: 1000;
}

/* Dropdown links */
.dropdown-list a {
  color: white;
  background-color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-list a:hover{
  background-color: #555;
  color: #fff;

}

/* dropdown on hover */
.dropdown:hover .dropdown-list{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* styling main dropdown button */
.dropdown>a{
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown > a:hover{
  background-color: #555;
}


/* Main-Container */
 .main-container{
  background-color: #fff;
  min-height: 65vh;
  max-height: 65vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
  border: 3px solid #000;
 }

 .side-menu{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
 }

 .side-menu a{
  text-decoration: none;
  border: 2px solid black;
  margin-top: 10px;
  color: #000;
  background-color: #ff8c00;
  padding: 2px;
  font-weight: bold;
 }

 .side-menu a:hover{
  color: green;
 }

.content{
  margin-left:20px ;
  font-size: 0.85rem;
  flex: 1;
  overflow: hidden;
}

.content-word::first-letter{
  font-size: 2.5rem;
}

.content img{
  width: 100px;
}

.content .cat-img{
  color: #ff8c00;
  font-weight: bold;
}

.content .cat-img:hover{
  color: green;
}


/* css for product list (products.html) */
.content .product-name{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 15px;
}

.products-table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.products-table th, .products-table td{
  padding: 5px;  
  font-family: Arial, sans-serif;
  
}

.products-table th ,td{
  text-align: left;
  font-weight: bold;
}

.products-table td:first-child{
  font-weight: bold;
  vertical-align: top;
  width: 10px;

}

.products-table td a{
  color: #000;
  text-decoration: underline;
}

.price{
  background-color: #fad883;
  
}



.coloumn-price{
  width:65px ;
  text-align: right;
  
}

.table{
  display: flex;
  flex-direction: row;
}
#space{
  margin-right: 130px;
}

/* css for cat.html */

.cat-content{
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  max-height: 70vh;
  padding: 0;
}

.cat-innerContent{
  display: flex;
  flex-direction: row;
}

.cat-innerContent p{
  margin-left: 20px;
  font-size: medium;
  font-weight: 500;
  margin-left: 30px;
  
}
.cat-innerContent img{
  height: 170px;
  width: 140px;
}

.cat-inner{
  float: left;
}
.cat-sideContent{
  display: flex;
  flex-direction: column;
  background-color: #fad883;
  padding-left: 10px;
  color: #000;
  margin-left: 50px;
  padding-left: 30px;
  
}

.cat-sideContent img{
  height: 70px;
  width: 70px;
  margin-bottom: 5px;
}

.cat-sideContent h4{
  font-size: medium;
}

.cat-sideContent a{
  color: #000;
  margin-bottom: 30px;
  font-weight: 550;
  font-size: larger;
}

.cat-sideContent a:hover{
  color: green;
}

 /* footer */
 footer{
  text-align: center;
  padding: 0.5px;
  color: #000;
  background: linear-gradient(45deg, #000, #ff8c00, #fff);
  height: 40px;
 }